Repository UmiNetwork/op-move, pull requests merged in 2024-12, with the labels that each got.

#167 refactor: Merge the calls to block fetching by number as it only differs in the block number
  moved/src/state_actor.rs
Labels: api

#168 Feat: op-move integration (part 1)
  Cargo.lock
  Cargo.toml
  engine-api/src/methods/get_block_by_hash.rs
  engine-api/src/methods/get_block_by_number.rs
  engine-api/src/methods/get_payload.rs
  moved/Cargo.toml
  moved/src/block/hash.rs
  moved/src/block/root.rs
  moved/src/lib.rs
  moved/src/merkle_tree.rs
  moved/src/state_actor.rs
  moved/src/types/session_id.rs
  moved/src/types/state.rs
  moved/src/types/transactions.rs
  server/src/geth_genesis.rs
  server/src/lib.rs
Labels: transactions

#171 Feat(rpc): Implement eth_call by transaction simulation
  engine-api/src/methods/call.rs
  engine-api/src/methods/mod.rs
  moved/src/move_execution/canonical.rs
  moved/src/move_execution/evm_native/tests.rs
  moved/src/move_execution/mod.rs
  moved/src/move_execution/simulate.rs
  moved/src/move_execution/tests/framework.rs
  moved/src/move_execution/tests/mod.rs
  moved/src/move_execution/tests/transaction.rs
  moved/src/move_execution/tests/utils.rs
  moved/src/state_actor.rs
  moved/src/types/state.rs
  moved/src/types/transactions.rs
Labels: transactions, api

#172 Fix: Include withdrawals root in block header
  engine-api/src/schema/engine.rs
  moved/src/state_actor.rs
  moved/src/types/state.rs
Labels: bug

#173 Feat(transactions): correct deposit flow using OP L2 contracts
  engine-api/src/methods/get_payload.rs
  genesis-builder/framework/evm/sources/Evm.move
  moved/aptos.mrb
  moved/src/error.rs
  moved/src/move_execution/deposited.rs
  moved/src/move_execution/evm_native/mod.rs
  moved/src/move_execution/evm_native/native_impl.rs
  moved/src/move_execution/evm_native/tests.rs
  moved/src/move_execution/evm_native/type_utils.rs
  moved/src/move_execution/tests/l1_cost.rs
  moved/src/move_execution/tests/marketplace.rs
  moved/src/move_execution/tests/transfer.rs
  moved/src/move_execution/tests/utils.rs
  moved/src/types/transactions.rs
Labels: transactions

#169 feat: Add state queries for balance and nonce retrieval of any known block height
  engine-api/src/jsonrpc.rs
  engine-api/src/methods/get_balance.rs
  engine-api/src/methods/get_nonce.rs
  engine-api/src/methods/get_payload.rs
  engine-api/src/methods/mod.rs
  engine-api/src/methods/new_payload.rs
  moved/src/block/in_memory.rs
  moved/src/genesis/config.rs
  moved/src/genesis/framework.rs
  moved/src/genesis/l2_contracts.rs
  moved/src/genesis/mod.rs
  moved/src/move_execution/gas.rs
  moved/src/move_execution/mod.rs
  moved/src/move_execution/nonces.rs
  moved/src/move_execution/tests/mod.rs
  moved/src/move_execution/tests/utils.rs
  moved/src/state_actor.rs
  moved/src/state_actor/queries.rs
  moved/src/storage.rs
  moved/src/types/state.rs
  server/src/lib.rs
Labels: storage

#175 Feat(framework): Create L2 contract Move interfaces
  Cargo.lock
  Cargo.toml
  engine-api/src/methods/get_payload.rs
  genesis-builder/Cargo.toml
  genesis-builder/framework/evm/sources/Evm.move
  genesis-builder/framework/l2-cross-domain-messenger/Move.toml
  genesis-builder/framework/l2-cross-domain-messenger/sources/L2CrossDomainMessenger.move
  genesis-builder/framework/l2/Move.toml
  genesis-builder/framework/l2/sources/BaseFeeVault.move
  genesis-builder/framework/l2/sources/CrossL2Inbox.move
  genesis-builder/framework/l2/sources/GasPriceOracle.move
  genesis-builder/framework/l2/sources/GovernanceToken.move
  genesis-builder/framework/l2/sources/L1Block.move
  genesis-builder/framework/l2/sources/L1BlockNumber.move
  genesis-builder/framework/l2/sources/L1FeeVault.move
  genesis-builder/framework/l2/sources/L2CrossDomainMessenger.move
  genesis-builder/framework/l2/sources/L2ERC721Bridge.move
  genesis-builder/framework/l2/sources/L2StandardBridge.move
  genesis-builder/framework/l2/sources/L2ToL1MessagePasser.move
  genesis-builder/framework/l2/sources/L2ToL2CrossDomainMessenger.move
  genesis-builder/framework/l2/sources/OptimismMintableERC20Factory.move
  genesis-builder/framework/l2/sources/OptimismMintableERC721Factory.move
  genesis-builder/framework/l2/sources/ProxyAdmin.move
  genesis-builder/framework/l2/sources/SequencerFeeVault.move
  genesis-builder/l2_move_template.hbs
  genesis-builder/src/generate.rs
  genesis-builder/src/main.rs
  moved/Cargo.toml
  moved/aptos.mrb
  moved/src/genesis/config.rs
  moved/src/genesis/framework.rs
  moved/src/genesis/mod.rs
  moved/src/move_execution/evm_native/native_impl.rs
  moved/src/move_execution/evm_native/solidity_abi.rs
  moved/src/move_execution/tests/framework.rs
  moved/src/move_execution/tests/mod.rs
  moved/src/move_execution/tests/transfer.rs
  moved/src/move_execution/tests/utils.rs
  moved/src/tests/res/l2-script/Move.toml
  moved/src/tests/res/l2-script/sources/l2_script.move
  moved/src/tests/res/withdrawal-script/Move.toml
Labels: framework

#181 Feat(L2): Generic L2 contract request handler
  moved/src/error.rs
  moved/src/move_execution/canonical.rs
  moved/src/move_execution/deposited.rs
  moved/src/move_execution/eth_token.rs
  moved/src/move_execution/execute.rs
  moved/src/move_execution/mod.rs
  moved/src/move_execution/tests/transfer.rs
  moved/src/types/transactions.rs
Labels: transactions
