Repository UmiNetwork/op-move, pull requests merged in 2024-11, with the labels that each got.

#138 chore: Switch back to Github runners
  .github/workflows/build_and_run_tests.yaml
  .github/workflows/clippy_check.yaml
  .github/workflows/format_check.yaml
Labels: devops

#140 refactor: Split off `engine-api` schema from `moved` to `moved-engine-api` crate
  engine-api/src/lib.rs
  engine-api/src/methods/forkchoice_updated.rs
  engine-api/src/methods/get_payload.rs
  engine-api/src/methods/new_payload.rs
  engine-api/src/schema.rs
  moved/src/block/root.rs
  moved/src/primitives.rs
  moved/src/state_actor.rs
  moved/src/state_actor/payload.rs
  moved/src/types/mod.rs
  moved/src/types/state.rs
Labels: devops, api

#139 feat: Chain Id Ethereum API
  engine-api/src/method_name.rs
  engine-api/src/methods/chain_id.rs
  engine-api/src/methods/mod.rs
  engine-api/src/request.rs
  moved/src/state_actor.rs
  moved/src/types/state.rs
Labels: api

#137 feat: Get balance Ethereum API
  Cargo.lock
  engine-api/Cargo.toml
  engine-api/src/method_name.rs
  engine-api/src/methods/get_balance.rs
  engine-api/src/methods/mod.rs
  engine-api/src/request.rs
  moved/src/move_execution/eth_token.rs
  moved/src/move_execution/mod.rs
  moved/src/state_actor.rs
  moved/src/types/session_id.rs
  moved/src/types/state.rs
Labels: api

#143 Feat(vm): EVM native
  Cargo.lock
  Cargo.toml
  genesis-builder/framework/evm/Move.toml
  genesis-builder/framework/evm/sources/Evm.move
  genesis-builder/src/main.rs
  moved/Cargo.toml
  moved/aptos.mrb
  moved/src/block/mod.rs
  moved/src/block/root.rs
  moved/src/genesis/config.rs
  moved/src/genesis/framework.rs
  moved/src/move_execution/canonical.rs
  moved/src/move_execution/deposited.rs
  moved/src/move_execution/evm_native.rs
  moved/src/move_execution/mod.rs
  moved/src/move_execution/tests.rs
  moved/src/state_actor.rs
  moved/src/types/session_id.rs
Labels: framework, transactions

#144 Fix(transactions): Include script hash in session ID when it is present
  moved/src/move_execution/canonical.rs
  moved/src/types/session_id.rs
  moved/src/types/transactions.rs
Labels: transactions

#150 Feat(evm-native): Implement native function for Solidity ABI encoding
  genesis-builder/framework/evm/sources/Evm.move
  moved/aptos.mrb
  moved/src/move_execution/evm_native/mod.rs
  moved/src/move_execution/evm_native/native_impl.rs
  moved/src/move_execution/evm_native/solidity_abi.rs
  moved/src/move_execution/evm_native/tests.rs
  moved/src/move_execution/tests.rs
  moved/src/tests/res/erc20-interface/Move.toml
  moved/src/tests/res/erc20-interface/sources/erc20_interface.move
Labels: framework

#153 Feat(transactions): Withdrawal flow
  Cargo.toml
  genesis-builder/framework/evm/sources/Evm.move
  genesis-builder/framework/l2-cross-domain-messenger/Move.toml
  genesis-builder/framework/l2-cross-domain-messenger/sources/L2CrossDomainMessenger.move
  genesis-builder/src/main.rs
  moved/aptos.mrb
  moved/src/genesis/config.rs
  moved/src/genesis/framework.rs
  moved/src/genesis/mod.rs
  moved/src/move_execution/canonical.rs
  moved/src/move_execution/deposited.rs
  moved/src/move_execution/evm_native/events.rs
  moved/src/move_execution/evm_native/mod.rs
  moved/src/move_execution/evm_native/native_impl.rs
  moved/src/move_execution/evm_native/state_changes.rs
  moved/src/move_execution/mod.rs
  moved/src/move_execution/tests.rs
  moved/src/tests/res/withdrawal-script/Move.toml
  moved/src/tests/res/withdrawal-script/sources/withdrawal_script.move
  moved/src/types/transactions.rs
Labels: framework, transactions

#146 feat(engine-api): Define JSON-RPC API schema and methods for block fetching
  engine-api/src/json_utils.rs
  engine-api/src/jsonrpc.rs
  engine-api/src/method_name.rs
  engine-api/src/methods/chain_id.rs
  engine-api/src/methods/get_balance.rs
  engine-api/src/methods/get_block_by_hash.rs
  engine-api/src/methods/get_block_by_number.rs
  engine-api/src/methods/mod.rs
  engine-api/src/methods/send_raw_transaction.rs
  engine-api/src/request.rs
  engine-api/src/schema/engine.rs
  engine-api/src/schema/eth/block.rs
  engine-api/src/schema/eth/mod.rs
  engine-api/src/schema/eth/withdrawal.rs
  engine-api/src/schema/mod.rs
  moved/src/primitives.rs
  moved/src/types/state.rs
  server/src/lib.rs
Labels: api

#154 chore: Document integration test setup issues
  README.md
Labels: devops

#156 feat: Implement block fetching queries and integrate with JSON-RPC API methods
  engine-api/src/methods/chain_id.rs
  engine-api/src/methods/forkchoice_updated.rs
  engine-api/src/methods/get_balance.rs
  engine-api/src/methods/get_block_by_hash.rs
  engine-api/src/methods/get_block_by_number.rs
  engine-api/src/methods/get_payload.rs
  engine-api/src/methods/new_payload.rs
  engine-api/src/methods/send_raw_transaction.rs
  moved/src/block/in_memory.rs
  moved/src/block/mod.rs
  moved/src/block/root.rs
  moved/src/state_actor.rs
  moved/src/types/state.rs
  server/src/lib.rs
Labels: api

#159 Feat(rpc): Implement eth_blockNumber
  engine-api/src/method_name.rs
  engine-api/src/methods/block_number.rs
  engine-api/src/methods/fee_history.rs
  engine-api/src/methods/mod.rs
  engine-api/src/request.rs
  moved/src/state_actor.rs
  moved/src/types/state.rs
Labels: api

#155 refactor: Test utility and modular test files
  Cargo.lock
  moved/src/move_execution/evm_native/tests.rs
  moved/src/move_execution/tests.rs
  moved/src/move_execution/tests/counter.rs
  moved/src/move_execution/tests/data_type.rs
  moved/src/move_execution/tests/framework.rs
  moved/src/move_execution/tests/l1_cost.rs
  moved/src/move_execution/tests/marketplace.rs
  moved/src/move_execution/tests/mod.rs
  moved/src/move_execution/tests/natives.rs
  moved/src/move_execution/tests/transaction.rs
  moved/src/move_execution/tests/transfer.rs
  moved/src/move_execution/tests/utils.rs
Labels: devops

#163 Feat(rpc): eth_getTransactionReceipt implementation
  Cargo.lock
  Cargo.toml
  engine-api/Cargo.toml
  engine-api/src/method_name.rs
  engine-api/src/methods/block_number.rs
  engine-api/src/methods/call.rs
  engine-api/src/methods/chain_id.rs
  engine-api/src/methods/estimate_gas.rs
  engine-api/src/methods/fee_history.rs
  engine-api/src/methods/forkchoice_updated.rs
  engine-api/src/methods/get_balance.rs
  engine-api/src/methods/get_block_by_hash.rs
  engine-api/src/methods/get_block_by_number.rs
  engine-api/src/methods/get_nonce.rs
  engine-api/src/methods/get_payload.rs
  engine-api/src/methods/get_transaction_receipt.rs
  engine-api/src/methods/mod.rs
  engine-api/src/methods/send_raw_transaction.rs
  engine-api/src/request.rs
  moved/Cargo.toml
  moved/src/move_execution/canonical.rs
  moved/src/move_execution/deposited.rs
  moved/src/move_execution/execute.rs
  moved/src/move_execution/gas.rs
  moved/src/primitives.rs
  moved/src/state_actor.rs
  moved/src/types/state.rs
  moved/src/types/transactions.rs
Labels: api
