Repository UmiNetwork/op-move, pull requests merged in 2025-06, with the labels that each got.

#394 refactor(api): use geth compliant codes in `JsonRpcError`
  api/src/json_utils.rs
  api/src/jsonrpc.rs
  api/src/method_name.rs
  api/src/methods/block_number.rs
  api/src/methods/call.rs
  api/src/methods/estimate_gas.rs
  api/src/methods/fee_history.rs
  api/src/methods/forkchoice_updated.rs
  api/src/methods/get_balance.rs
  api/src/methods/get_block_by_hash.rs
  api/src/methods/get_block_by_number.rs
  api/src/methods/get_nonce.rs
  api/src/methods/get_payload.rs
  api/src/methods/get_proof.rs
  api/src/methods/get_transaction_by_hash.rs
  api/src/methods/get_transaction_receipt.rs
  api/src/methods/new_payload.rs
  api/src/methods/send_raw_transaction.rs
  api/src/request.rs
  app/src/mempool.rs
  app/src/query.rs
  app/src/tests.rs
  shared/src/error.rs
Labels: api

#400 Fix(integration-test): EVM storage and missing transaction handling
  api/src/methods/get_transaction_by_hash.rs
  api/src/methods/get_transaction_receipt.rs
  app/src/dependency.rs
  app/src/query.rs
  app/src/tests.rs
  app/src/uninit.rs
  blockchain/src/block/in_memory.rs
  blockchain/src/block/mod.rs
  blockchain/src/in_memory.rs
  server/src/dependency/heed.rs
  server/src/dependency/in_memory.rs
  server/src/dependency/rocksdb.rs
  server/src/lib.rs
Labels: bug, storage, api

#408 Fix(sdk): Remove bytecode version restriction
  sdk/hardhat-umi/package.json
  sdk/hardhat-umi/src/index.ts
Labels: sdk

#409 Fix(integration): Write L1 geth logs to a file
  server/src/tests/integration.rs
Labels: devops

#412 Refactor(integration): Move op-move runtime into dedicated function
  server/src/tests/integration.rs
Labels: devops

#430 Feat: Introduce tracing-based logging
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/request.rs
  app/Cargo.toml
  app/src/command.rs
  execution/Cargo.toml
  execution/src/canonical.rs
  execution/src/deposited.rs
  server/Cargo.toml
  server/src/lib.rs
  server/src/main.rs
  server/src/tests/integration.rs
Labels: devops
