Repository UmiNetwork/op-move, pull requests merged in 2025-08, with the labels that each got.

#478 refactor(api): make engine API closer to the spec
  Cargo.lock
  api/Cargo.toml
  api/src/jsonrpc.rs
  api/src/methods/forkchoice_updated.rs
  api/src/methods/get_payload.rs
  api/src/methods/get_transaction_by_hash.rs
  api/src/methods/get_transaction_receipt.rs
  api/src/methods/new_payload.rs
  api/src/request.rs
  api/src/schema/engine.rs
  app/src/command.rs
  app/src/input.rs
  app/src/mempool.rs
  app/src/tests.rs
  blockchain/src/transaction/write.rs
  execution/src/tests/evm_native.rs
  execution/src/transaction.rs
  server/Cargo.toml
  server/benches/perf/queue/input.rs
  server/src/lib.rs
  shared/src/primitives.rs
Labels: api

#486 Feat(tx): Deploy Move package as bundle
  api/src/methods/call.rs
  api/src/methods/estimate_gas.rs
  app/src/command.rs
  execution/src/canonical.rs
  execution/src/execute.rs
  execution/src/tests/mod.rs
  execution/src/tests/utils.rs
  execution/src/transaction.rs
  server/src/tests/integration.rs
  server/src/tests/res/counter.hex
Labels: transactions

#481 Feat(api): mv_listModules and mv_listResources
  Cargo.lock
  api/Cargo.toml
  api/src/method_name.rs
  api/src/methods/get_block_by_hash.rs
  api/src/methods/get_block_by_number.rs
  api/src/methods/get_payload.rs
  api/src/methods/list_modules.rs
  api/src/methods/list_resources.rs
  api/src/methods/mod.rs
  api/src/request.rs
  api/src/schema/mod.rs
  api/src/schema/mv.rs
  app/src/query.rs
  blockchain/src/state/read/eth_trie.rs
  blockchain/src/state/read/model.rs
  blockchain/src/state/read/test_doubles.rs
  genesis/src/config.rs
  server/src/tests/integration.rs
  server/src/tests/listing_apis.rs
  server/src/tests/mod.rs
  server/src/tests/payload.rs
  server/src/tests/test_context.rs
  state/Cargo.toml
  state/src/lib.rs
  state/src/skip_list.rs
  state/src/state.rs
Labels: storage, api

#503 Fix(API): Return hex string for byte arrays
  api/src/methods/call.rs
  server/src/tests/evm_contracts/account_storage.rs
  server/src/tests/evm_contracts/block_env.rs
  server/src/tests/test_context.rs
Labels: api

#501 feat(api): support engine API v4
  api/Cargo.toml
  api/src/json_utils.rs
  api/src/method_name.rs
  api/src/methods/get_payload.rs
  api/src/methods/new_payload.rs
  api/src/request.rs
Labels: api
