Repository UmiNetwork/op-move, pull requests merged in 2025-01, with the labels that each got.

#182 Feat(server): Use op-move response instead of op-geth
  .gitignore
  Cargo.lock
  engine-api/src/methods/estimate_gas.rs
  engine-api/src/methods/fee_history.rs
  moved/src/error.rs
  moved/src/move_execution/canonical.rs
  moved/src/primitives.rs
  moved/src/state_actor.rs
  server/Cargo.toml
  server/src/lib.rs
  server/src/tests/integration.rs
  server/src/tests/res/counter.hex
Labels: devops

#183 Feat(storage): Switch Merkle implementation to `jmt` library
  Cargo.lock
  Cargo.toml
  engine-api/src/methods/get_payload.rs
  moved/Cargo.toml
  moved/src/genesis/config.rs
  moved/src/primitives.rs
  moved/src/state_actor.rs
  moved/src/state_actor/queries.rs
  moved/src/storage.rs
Labels: storage

#179 feat(gas): add l2 gas cost calculation
  engine-api/src/methods/estimate_gas.rs
  engine-api/src/methods/get_payload.rs
  engine-api/src/methods/mod.rs
  engine-api/src/methods/new_payload.rs
  moved/src/block/gas.rs
  moved/src/block/mod.rs
  moved/src/error.rs
  moved/src/move_execution/canonical.rs
  moved/src/move_execution/deposited.rs
  moved/src/move_execution/eth_token.rs
  moved/src/move_execution/evm_native/tests.rs
  moved/src/move_execution/gas.rs
  moved/src/move_execution/mod.rs
  moved/src/move_execution/simulate.rs
  moved/src/move_execution/tests/gas_cost.rs
  moved/src/move_execution/tests/l1_cost.rs
  moved/src/move_execution/tests/mod.rs
  moved/src/move_execution/tests/transfer.rs
  moved/src/move_execution/tests/utils.rs
  moved/src/state_actor.rs
  moved/src/types/state.rs
  moved/src/types/transactions.rs
  server/src/lib.rs
Labels: transactions, gas

#186 Feat(rpc): eth_getProof implementation
  Cargo.lock
  Cargo.toml
  engine-api/src/jsonrpc.rs
  engine-api/src/method_name.rs
  engine-api/src/methods/get_proof.rs
  engine-api/src/methods/mod.rs
  engine-api/src/request.rs
  moved/Cargo.toml
  moved/src/move_execution/evm_native/mod.rs
  moved/src/move_execution/evm_native/native_evm_context.rs
  moved/src/move_execution/mod.rs
  moved/src/state_actor.rs
  moved/src/state_actor/queries.rs
  moved/src/types/mod.rs
  moved/src/types/queries.rs
  moved/src/types/state.rs
  moved/src/types/transactions.rs
Labels: api

#187 feat(state): Replace JMT with MPT
  Cargo.lock
  Cargo.toml
  engine-api/src/methods/get_payload.rs
  engine-api/src/methods/get_proof.rs
  engine-api/src/methods/mod.rs
  engine-api/src/methods/new_payload.rs
  moved/Cargo.toml
  moved/src/genesis/config.rs
  moved/src/primitives.rs
  moved/src/state_actor.rs
  moved/src/state_actor/queries.rs
  moved/src/storage.rs
  moved/src/types/queries.rs
  server/src/lib.rs
Labels: storage

#191 test(storage): Test that there is no collision between different column families
  Cargo.lock
  Cargo.toml
  storage/Cargo.toml
  storage/src/lib.rs
  storage/src/trie.rs
  storage/tests/collision.rs
  storage/tests/common.rs
Labels: storage, devops

#190 Feat(trie): Match Ethereum account structure for EVM resources
  engine-api/src/methods/get_payload.rs
  moved/src/genesis/config.rs
  moved/src/move_execution/evm_native/mod.rs
  moved/src/move_execution/evm_native/native_evm_context.rs
  moved/src/move_execution/evm_native/state_changes.rs
  moved/src/move_execution/evm_native/trie_types.rs
  moved/src/move_execution/evm_native/type_utils.rs
  moved/src/state_actor/queries.rs
  moved/src/storage.rs
  moved/src/types/state.rs
  server/src/tests/get_proof.rs
Labels: storage

#195 Fix: make sure deposits work
  engine-api/src/methods/get_block_by_hash.rs
  engine-api/src/methods/get_block_by_number.rs
  engine-api/src/methods/get_payload.rs
  moved/src/move_execution/deposited.rs
  moved/src/state_actor.rs
  moved/src/types/state.rs
Labels: api

#193 refactor: Resolve `clippy::too_many_args` warning for transaction execution
  moved/src/move_execution/canonical.rs
  moved/src/move_execution/deposited.rs
  moved/src/move_execution/evm_native/tests.rs
  moved/src/move_execution/mod.rs
  moved/src/move_execution/simulate.rs
  moved/src/move_execution/tests/transaction.rs
  moved/src/move_execution/tests/transfer.rs
  moved/src/move_execution/tests/utils.rs
  moved/src/state_actor.rs
  moved/src/types/transactions.rs
Labels: transactions

#194 refactor: Resolve `clippy::too_many_args` warning for transaction verification
  moved/src/move_execution/canonical.rs
  moved/src/move_execution/mod.rs
  moved/src/move_execution/simulate.rs
Labels: transactions

#197 feat(storage): Implement block queries backed by `rocksdb` as its persistent storage engine
  moved/src/block/in_memory.rs
  moved/src/block/root.rs
  moved/src/state_actor.rs
  storage/src/all.rs
  storage/src/block.rs
  storage/src/generic.rs
  storage/src/lib.rs
Labels: storage

#198 Feat(server): Support cross origin CORS calls
  engine-api/src/methods/estimate_gas.rs
  server/src/lib.rs
Labels: api

#199 Feat(integration-test): Test withdrawal flow
  .env
  server/src/tests/config.sh
  server/src/tests/integration.rs
  server/src/tests/integration/heartbeat.rs
  server/src/tests/integration/withdrawal.rs
  server/src/tests/res/L2OutputOracle.json
  server/src/tests/res/OptimismPortal.json
Labels: devops

#207 refactor(api): Remove unused custom `Withdrawal` type
  engine-api/src/schema/eth.rs
  engine-api/src/schema/eth/mod.rs
  engine-api/src/schema/eth/withdrawal.rs
Labels: api

#208 refactor: Rename `engine-api` => `api`
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/json_utils.rs
  api/src/jsonrpc.rs
  api/src/lib.rs
  api/src/method_name.rs
  api/src/methods/block_number.rs
  api/src/methods/call.rs
  api/src/methods/chain_id.rs
  api/src/methods/estimate_gas.rs
  api/src/methods/fee_history.rs
  api/src/methods/forkchoice_updated.rs
  api/src/methods/get_balance.rs
  api/src/methods/get_block_by_hash.rs
  api/src/methods/get_block_by_number.rs
  api/src/methods/get_nonce.rs
  api/src/methods/get_payload.rs
  api/src/methods/get_proof.rs
  api/src/methods/get_transaction_receipt.rs
  api/src/methods/mod.rs
  api/src/methods/new_payload.rs
  api/src/methods/send_raw_transaction.rs
  api/src/request.rs
  api/src/schema/engine.rs
  api/src/schema/eth.rs
  api/src/schema/mod.rs
  server/Cargo.toml
  server/src/lib.rs
  server/src/mirror.rs
  server/src/tests/get_proof.rs
Labels: api

#209 refactor(api): Generalize JSON-RPC params parsing
  api/src/json_utils.rs
  api/src/methods/block_number.rs
  api/src/methods/call.rs
  api/src/methods/get_balance.rs
  api/src/methods/get_block_by_hash.rs
  api/src/methods/get_block_by_number.rs
  api/src/methods/get_payload.rs
  api/src/methods/get_transaction_receipt.rs
  api/src/methods/new_payload.rs
Labels: api

#213 feat: Add transaction reading and writing
  api/src/methods/get_payload.rs
  api/src/methods/get_transaction_by_hash.rs
  api/src/methods/mod.rs
  api/src/methods/new_payload.rs
  api/src/schema/eth.rs
  moved/src/block/in_memory.rs
  moved/src/in_memory.rs
  moved/src/lib.rs
  moved/src/state_actor.rs
  moved/src/transaction/in_memory.rs
  moved/src/transaction/mod.rs
  moved/src/transaction/read.rs
  moved/src/transaction/write.rs
  moved/src/types/state.rs
  server/src/lib.rs
Labels: api

#219 refactor: Separate model for receipts from state actor internals
  api/src/methods/get_payload.rs
  api/src/methods/get_transaction_receipt.rs
  api/src/methods/mod.rs
  api/src/methods/new_payload.rs
  api/src/schema/eth.rs
  moved/src/lib.rs
  moved/src/receipt/in_memory.rs
  moved/src/receipt/mod.rs
  moved/src/receipt/read.rs
  moved/src/receipt/write.rs
  moved/src/state_actor.rs
  moved/src/transaction/in_memory.rs
  moved/src/transaction/mod.rs
  moved/src/transaction/read.rs
  moved/src/types/state.rs
  server/src/lib.rs
  storage/src/transaction.rs
Labels: storage

#264 refactor(api): Remove V2 engine methods and schema
  api/src/method_name.rs
  api/src/request.rs
  api/src/schema/engine.rs
Labels: api
