Repository UmiNetwork/op-move, pull requests merged in 2025-03, with the labels that each got.

#287 feat(storage): Implement `BlockRepository` using `heed`
  Cargo.lock
  Cargo.toml
  storage/heed/Cargo.toml
  storage/heed/src/block.rs
  storage/heed/src/generic.rs
  storage/heed/src/lib.rs
  storage/rocksdb/Cargo.toml
  storage/rocksdb/src/all.rs
  storage/rocksdb/src/block.rs
  storage/rocksdb/src/generic.rs
  storage/rocksdb/src/lib.rs
  storage/rocksdb/src/payload.rs
  storage/rocksdb/src/receipt.rs
  storage/rocksdb/src/state.rs
  storage/rocksdb/src/transaction.rs
  storage/rocksdb/src/trie.rs
  storage/rocksdb/tests/collision.rs
  storage/rocksdb/tests/common.rs
Labels: storage

#288 feat(storage): Implement `ReceiptRepository` and `ReceiptQueries` using `heed`
  storage/heed/src/block.rs
  storage/heed/src/lib.rs
  storage/heed/src/receipt.rs
Labels: storage

#289 feat(storage): Implement `TransactionRepository` and `TransactionQueries` using `heed`
  storage/heed/src/lib.rs
  storage/heed/src/transaction.rs
Labels: storage

#290 feat(storage): Implement `BlockQueries` using `heed`
  storage/heed/src/block.rs
Labels: storage

#291 feat(storage): Implement `PayloadQueries` using `heed`
  storage/heed/src/lib.rs
  storage/heed/src/payload.rs
Labels: storage

#292 feat(storage): Implement `EthTrie` using `heed`
  Cargo.lock
  storage/heed/Cargo.toml
  storage/heed/src/generic.rs
  storage/heed/src/lib.rs
  storage/heed/src/trie.rs
Labels: storage

#293 feat(storage): Implement `State` using `heed`
  Cargo.lock
  storage/heed/Cargo.toml
  storage/heed/src/block.rs
  storage/heed/src/lib.rs
  storage/heed/src/payload.rs
  storage/heed/src/state.rs
  storage/heed/src/transaction.rs
  storage/heed/src/trie.rs
Labels: storage

#294 feat(server): Integrate with LMDB persistent backing storage engine using `heed`
  .gitignore
  Cargo.lock
  Cargo.toml
  app/src/actor.rs
  docker/Dockerfile.op-move
  execution/src/eth_token.rs
  server/Cargo.toml
  server/src/dependency/heed.rs
  server/src/dependency/mod.rs
  storage/heed/Cargo.toml
  storage/heed/src/all.rs
  storage/heed/src/block.rs
  storage/heed/src/generic.rs
  storage/heed/src/lib.rs
  storage/heed/src/payload.rs
  storage/heed/src/receipt.rs
  storage/heed/src/state.rs
  storage/heed/src/transaction.rs
  storage/heed/src/trie.rs
Labels: storage

#298 feat(storage-heed): Wrap database in a custom type
  storage/heed/src/all.rs
  storage/heed/src/block.rs
  storage/heed/src/generic.rs
  storage/heed/src/payload.rs
  storage/heed/src/receipt.rs
  storage/heed/src/state.rs
  storage/heed/src/transaction.rs
  storage/heed/src/trie.rs
Labels: storage

#299 Fix: Simplify cloud logs and get eth_estimateGas tx input data
  docker/Dockerfile.geth
  docker/geth.sh
  docker/keystore.sh
  execution/src/transaction.rs
  server/src/lib.rs
Labels: api

#305 Feat(server): Send content type header in the response
  server/src/lib.rs
Labels: api

#307 Feat(integration-test): Test for ERC-20 deposits via the standard bridge
  Cargo.lock
  api/src/methods/get_payload.rs
  genesis-builder/framework/erc20/Move.toml
  genesis-builder/framework/erc20/sources/erc20.move
  genesis-builder/src/main.rs
  genesis/aptos.mrb
  genesis/src/config.rs
  genesis/src/framework.rs
  server/Cargo.toml
  server/src/tests/integration.rs
  server/src/tests/integration/erc20.rs
  server/src/tests/res/L1StandardBridge.json
  server/src/tests/res/OptimismMintableERC20Factory.json
Labels: framework

#312 Feat(framework): ERC-20 approve and allowance functions
  api/src/methods/get_payload.rs
  genesis-builder/framework/erc20/sources/erc20.move
  genesis/aptos.mrb
  genesis/src/config.rs
Labels: framework

#311 perf: Generate payload ID before starting block build
  api/src/methods/forkchoice_updated.rs
  api/src/methods/get_block_by_number.rs
  api/src/methods/get_payload.rs
  api/src/methods/get_transaction_by_hash.rs
  api/src/methods/get_transaction_receipt.rs
  api/src/methods/mod.rs
  api/src/methods/new_payload.rs
  api/src/request.rs
  app/src/actor.rs
  app/src/input.rs
  server/src/dependency/heed.rs
  server/src/dependency/in_memory.rs
  server/src/dependency/rocksdb.rs
  server/src/dependency/shared.rs
  server/src/lib.rs
  server/src/tests/get_proof.rs
Labels: api
