Repository UmiNetwork/op-move, pull requests merged in 2025-05, with the labels that each got.

#360 Fix(integration): Signer arguments no longer needed in ERC-20 queries
  .github/workflows/clippy_check.yaml
  server/src/tests/integration/erc20.rs
Labels: devops

#361 Feat(tx): Allow transactions to execute EVM contracts directly
  api/src/methods/get_payload.rs
  evm-ext/src/lib.rs
  evm-ext/src/native_impl.rs
  execution/src/canonical.rs
  execution/src/deposited.rs
  execution/src/eth_token.rs
  execution/src/execute.rs
  execution/src/lib.rs
  execution/src/simulate.rs
  execution/src/tests/evm_native.rs
  execution/src/tests/transaction.rs
  execution/src/tests/utils.rs
  execution/src/transaction.rs
  genesis-builder/framework/evm/sources/Evm.move
  genesis/aptos.mrb
  genesis/src/config.rs
  server/src/tests/evm_contracts.rs
  server/src/tests/integration.rs
  server/src/tests/integration/erc20.rs
Labels: transactions

#363 Feat(tx): charge gas for Move module deployment
  Cargo.lock
  api/src/methods/estimate_gas.rs
  execution/Cargo.toml
  execution/src/canonical.rs
  execution/src/gas.rs
Labels: transactions, gas

#357 feat(app): full `eth_feeHistory` implementation
  api/src/methods/call.rs
  api/src/methods/fee_history.rs
  app/src/query.rs
  app/src/tests.rs
  blockchain/src/state/read.rs
  shared/src/error.rs
Labels: P1, api
